{% extends "./base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/inde.css" />
  </head>
  <body>
    <div class="container">
      <div class="dia">
        <div class="encabezado">
          <h4>Encabezado</h4>
        </div>
        {% for tarea in tareas%}
        <a style="all: unset;" id="link" href="{% url 'web:tarea' tarea_id=tarea.id%}">
          <div class="Tarea">
            <img src="../static/img/prueba.png" alt="" />
            <div class="texto">
              <h4>{{tarea.titulo}}</h4>
            </div>
            <span class="menu">
              <img src="../static/img/menu-svgrepo-com.svg" alt="" />
            </span>
          </div>
        </a>
        {% endfor %}
      </div>
      <div class="dia">
        <div class="encabezado">
          <h4>Encabezado</h4>
        </div>
        <div class="Tarea">
          <img src="../static/img/prueba.png" alt="" />
        </div>
      </div>
      <div class="dia">
        <div class="encabezado">
          <h4>Encabezado</h4>
        </div>
        <div class="Tarea"></div>
        <div class="Tarea"></div>
        <div class="Tarea"></div>
      </div>
      <div class="dia">
        <div class="encabezado">
          <h4>Encabezado</h4>
        </div>
        <div class="Tarea"></div>
        <div class="Tarea"></div>
        <div class="Tarea"></div>
      </div>
    </div>

    <script></script>
  </body>
</html>
{% endblock %}
