@import url('https://fonts.googleapis.com/css2?family=Signika:wght,GRAD@300..700,-9&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#000020;
    display: flex;
    font-family: Signika;
    color: rgb(235, 221, 221);
}

nav{
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: 100vh;
    width: 18%;
    border-right: 0.5px solid rgba(128, 128, 128, 0.541);
    padding: 1%;

    #logo{
        width: 200px;
        padding-bottom: 20px;
    }
    a{
        all: unset;
        display: inline-block; /* Necesario para que la animación funcione correctamente */
        transition: transform 0.3s ease, color 0.3s ease; /* Suaviza el movimiento y el cambio de color */
        font-size: x-large;
        font-weight: bold;
        padding-left: 4%;
        cursor: pointer;
    }
    a:hover {
        transform: translateX(10px); /* Mueve 10px hacia la derecha */
        color: #2f2c79; /* Cambia el color del texto al pasar el cursor */
      }
}

.contenedor{
    height: 100%;
    width: 82vw;
    position: relative;
    display: flex;
    flex-direction: row;
    
    .dia{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        .encabezado{
            height: 40px;
            background-color: #171a4a;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        .tarea{
            display: flex;
            
            align-items: center;
            
            width: 90%;
            height: 40px;
            background-color: #2f2c79;
            border-radius: 10px;
            padding: 2%;
            margin: 2%;
        }
    }
}

.bon{
    position: absolute;
    right: 20px;
    bottom: 20px;
}